# -- Site Configuration --
# Refer to the theme docs for more details about each of these parameters.
# https://blowfish.page/docs/getting-started/

theme = "blowfish"
baseURL = "/"
defaultContentLanguage = "en"
languageCode = "en-us"

summaryLength = 0


enableEmoji = true

[pagination]
  pagerSize = 5

[imaging]
  anchor = 'Center'

[taxonomies]
  tag = "tags"
  author = "authors"


[outputs]
  home = ["HTML", "RSS", "JSON"]

[related]
  threshold = 0
  toLower = false

    [[related.indices]]
        name = "tags"
        weight = 100


    [[related.indices]]
        name = "series"
        weight = 50

    [[related.indices]]
        name = "authors"
        weight = 20

    [[related.indices]]
        name = "date"
        weight = 10
